doctype html
html
	head
		title= title
		link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat' type='text/css')
		link(rel='stylesheet', href='style.css', type='text/css')

	body
		#navbar-fixed
			a.first(href='/') Blog
			if storedUser
				a.smth(href='http://localhost:3000/profile')= 'Profile ' + storedUser.name
				a.log.last(href='http://localhost:3000/logout') Logout 
			else 
				a.log.last(href='http://localhost:3000/register') Register
				a.log(href='http://localhost:3000/login') Login 

		h2#error-message= message
			
	#content
		block content






