//login

extends layout

block content

	h2 Login

	p
		form(name="submitPost", action="/login", method="post")
			div.titles
				span.label Email
				br
				span.label Password
			div.inputfields
				input(type="text", name="loginEmail")
				br
				input(type="password", name="loginPassword")
			div.actions
				input#button(type="submit", value="Login")

