//login

extends layout

block content

	h2 Login

	p
		#reglog
			form(name="submitPost", action="/login", method="post")
				div.inputfields
					span.title Email
					input(type="text", name="loginEmail", size="40")
					span.title Password
					input(type="password", name="loginPassword", size="40")
					input#button(type="submit", value="Login")

