// - create a post
// - view a list of their own posts

extends layout

block content

	h2= 'Welcome to your profile ' + storedUser.name

	p
		form(name="submitPost", action="/profile", method="post")
			div.input
				span.label Title 
				input(type="text", name="titlePost")
			div.input
				span.label Write your message 
				textarea(type="text", name="bodyPost", rows="5")
			div.input
				span.label Add an image link
				input(type="text", name="imgPost")
			div.actions
				input#button(type="submit", value="Post")

	if yourPosts
		each post in yourPosts
			h3= post.title
			p= post.body
			img(src= post.img)
			form(name="commenting", action="/comment", method="post")
				div.input
					span.label Leave your comment:
					input(type="text", name="postComment")
					input(type='text', name='id', value="#{post.id}", hidden)
					input(type="submit", value="Make a comment")
